@page "/form"
@using System;
@using System.Reflection;
@inject HttpClient Http;

<PageTitle>Form</PageTitle>

<h1><b>Демографический опрос</b></h1>

@foreach (var field in fields)
    {
        
        <h3>@field.Title</h3>

        <input placeholder=@field.Name @bind=field.Value/>
    
    }

<button class="btn btn-primary" @onclick="SendForm">Отправить анкету</button>
<p role="status">Current count: @currentCount</p>

@* Вывод Анкеты  *@

@* <h2><b>Ваша Анкета</b></h2>

@foreach (var field in fields)
    {
        
        <h3>@field.Title :</h3>
        <body>
        @field.Value
        </body>
        
    
    } *@

@code {
    private List<Field> fields {get; set; }
    
    private List<FormItem> addItem {get; set; }
    
    @* private Form  addItem = new Form(); *@
    protected override async Task OnInitializedAsync()
    {
        fields = new List<Field>()
        {
            new Field()
            {
                Title = "День рождения",
                Name = "Дата рождения в формате день:месяц:год",
                Value = ""
            },
            new Field()
            {
                Title = "Пол",
                Name = "муж/жен",
                Value = ""
            },
            new Field()
            {
                Title = "Место рождения",
                Name = "город",
                Value = ""
            },
            new Field()
            {
                Title = "Образование",
                Name = "Среднее/Высшее",
                Value = ""
            },
            new Field()
            {
                Title = "Семейное положение",
                Name = "",
                Value = ""
            },
            new Field()
            {
                Title = "Место работы",
                Name = "текущее место работы",
                Value = ""
            },
            new Field()
            {
                Title = "Уровень дохода",
                Name = "20000",
                Value = ""
            }
        };
    }
    private int currentCount = 0;

    private async Task SendForm()
        {
        
        var addItem = new FormItem {};

        addItem.Birthday = fields[0].Value;

        addItem.Gender = fields[1].Value;

        addItem.PlaceOfBirth = fields[2].Value;

        addItem.Education = fields[3].Value;

        addItem.FamilyStatus = fields[4].Value;

        addItem.Employment = fields[5].Value;

        addItem.IncomeLevel = fields[6].Value;

        await Http.PostAsJsonAsync("formitems", addItem);

        for(int i = 0; i < fields.Count; i++ )
            {
                fields[i].Value = "";
            }
        currentCount++;
        }
    }
}
