@page "/"

<PageTitle>Домашняя страница</PageTitle>

<h1>Домашняя страница</h1>



Здравствуйте! Вы попали на страницу прохождения демографического опроса населения.<br />
Для прохождения перейдите по 
<a href="form">сслыке</a>

@if (imageSource is not null)
{
    <p>
        <img src="@imageSource" />
    </p>
}


@code {
    private string? imageSource = $"images/HomeImage.jpg";

}